Pillow==10.1.0
PyAudio==0.2.14
PyCameraList==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5Designer==5.14.1
matplotlib==3.8.2
mediapipe==0.10.8
numpy==1.26.2
opencv-contrib-python==4.8.1.78
opencv-python==4.9.0.80
pandas==2.1.4
pip==23.3.2
pyqt5-plugins==5.15.9.2.3
pyqt5-tools==5.15.9.3.3
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3